@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon/icomoon.eot?1oishx');
  src:  url('fonts/icomoon.eot?1oishx#iefix') format('embedded-opentype'),
    url('../fonts/icomoon/icomoon.ttf?1oishx') format('truetype'),
    url('../fonts/icomoon/icomoon.woff?1oishx') format('woff'),
    url('../fonts/icomoon/icomoon.svg?1oishx#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-hashtag1:before {
  content: "\e962";
}
.icon-bed:before {
  content: "\e963";
}
.icon-bathtub:before {
  content: "\e964";
}
.icon-bath:before {
  content: "\e965";
}
.icon-big-bed-with-one-pillow:before {
  content: "\e966";
}
.icon-bed-1:before {
  content: "\e98f";
}
.icon-reception:before {
  content: "\e990";
}
.icon-ruler:before {
  content: "\e991";
}
.icon-ruler-1:before {
  content: "\e992";
}
.icon-square-ruler:before {
  content: "\e993";
}
.icon-pet-friendly:before {
  content: "\e994";
}
.icon-saudi-arabia:before {
  content: "\e995";
}
.icon-console:before {
  content: "\e996";
}
.icon-chef:before {
  content: "\e916";
}
.icon-refrigerator:before {
  content: "\e917";
}
.icon-living-room:before {
  content: "\e918";
}
.icon-armchair:before {
  content: "\e919";
}
.icon-kitchen:before {
  content: "\e91a";
}
.icon-garage:before {
  content: "\e91b";
}
.icon-air-conditioner:before {
  content: "\e91c";
}
.icon-terraza:before {
  content: "\e91d";
}
.icon-microondas:before {
  content: "\e91e";
}
.icon-hashtag:before {
  content: "\e91f";
}
.icon-mesa:before {
  content: "\e920";
}
.icon-jardin:before {
  content: "\e921";
}
.icon-piscina:before {
  content: "\e922";
}
.icon-elevator:before {
  content: "\e923";
}
.icon-cocktail:before {
  content: "\e924";
}
.icon-weightlifter:before {
  content: "\e925";
}
.icon-tungsteno:before {
  content: "\e926";
}
.icon-grifo-de-agua:before {
  content: "\e927";
}
.icon-gas:before {
  content: "\e928";
}
.icon-sirena:before {
  content: "\e929";
}
.icon-desague:before {
  content: "\e92a";
}
.icon-energia-verde:before {
  content: "\e92b";
}
.icon-house-design:before {
  content: "\e92c";
}
.icon-blueprint:before {
  content: "\e92d";
}
.icon-wifi:before {
  content: "\e92e";
}
.icon-washing-machine:before {
  content: "\e92f";
}
.icon-television:before {
  content: "\e930";
}
.icon-sauna:before {
  content: "\e931";
}
.icon-home:before {
  content: "\e932";
}
.icon-office:before {
  content: "\e933";
}
.icon-investigation:before {
  content: "\e934";
}
.icon-design-tool:before {
  content: "\e935";
}
.icon-destination:before {
  content: "\e936";
}
.icon-map:before {
  content: "\e937";
}
.icon-hashtag-1:before {
  content: "\e938";
}
.icon-aire:before {
  content: "\e939";
}
.icon-smart-home:before {
  content: "\e93a";
}
.icon-lavavajillas:before {
  content: "\e93b";
}
.icon-ventilacion:before {
  content: "\e93c";
}
.icon-parking-area:before {
  content: "\e93d";
}
.icon-balcon:before {
  content: "\e93e";
}
.icon-persianas:before {
  content: "\e93f";
}
.icon-grill:before {
  content: "\e940";
}
.icon-muelle:before {
  content: "\e941";
}
.icon-water-tank:before {
  content: "\e942";
}
.icon-cyclone:before {
  content: "\e943";
}
.icon-trasvolar:before {
  content: "\e944";
}
.icon-discharge:before {
  content: "\e945";
}
.icon-food-stand:before {
  content: "\e946";
}
.icon-blinds:before {
  content: "\e947";
}
.icon-freezer:before {
  content: "\e948";
}
.icon-cctv:before {
  content: "\e949";
}
.icon-technician:before {
  content: "\e94a";
}
.icon-pet-care:before {
  content: "\e94b";
}
.icon-street-light:before {
  content: "\e94c";
}
.icon-height:before {
  content: "\e94d";
}
.icon-house-size:before {
  content: "\e94e";
}
.icon-increase-size-option:before {
  content: "\e94f";
}
.icon-resize:before {
  content: "\e950";
}
.icon-text:before {
  content: "\e951";
}
.icon-city:before {
  content: "\e952";
}
.icon-cityscape:before {
  content: "\e953";
}
.icon-location:before {
  content: "\e954";
}
.icon-location-1:before {
  content: "\e955";
}
.icon-buy:before {
  content: "\e956";
}
.icon-north-america:before {
  content: "\e957";
}
.icon-properties-sale-sign:before {
  content: "\e958";
}
.icon-area:before {
  content: "\e959";
}
.icon-rent:before {
  content: "\e95a";
}
.icon-sold:before {
  content: "\e95b";
}
.icon-headset:before {
  content: "\e95c";
}
.icon-contract:before {
  content: "\e95d";
}
.icon-address:before {
  content: "\e95e";
}
.icon-heating:before {
  content: "\e95f";
}
.icon-location-2:before {
  content: "\e960";
}
.icon-north-america-2:before {
  content: "\e967";
}
.icon-sedan-car-front:before {
  content: "\e968";
}
.icon-car:before {
  content: "\e969";
}
.icon-sports-car:before {
  content: "\e96a";
}
.icon-responsive:before {
  content: "\e96b";
}
.icon-device:before {
  content: "\e96c";
}
.icon-refer-map2:before {
  content: "\e900";
}
.icon-refer-map1:before {
  content: "\e901";
}
.icon-heart1:before {
  content: "\e902";
}
.icon-star:before {
  content: "\e903";
}
.icon-video:before {
  content: "\e904";
}
.icon-key:before {
  content: "\e905";
}
.icon-search1:before {
  content: "\e906";
}
.icon-settings:before {
  content: "\e907";
}
.icon-camera:before {
  content: "\e908";
}
.icon-tag:before {
  content: "\e909";
}
.icon-lock:before {
  content: "\e90a";
}
.icon-bulb:before {
  content: "\e90b";
}
.icon-pen:before {
  content: "\e90c";
}
.icon-display:before {
  content: "\e90d";
}
.icon-mail:before {
  content: "\e90e";
}
.icon-photo:before {
  content: "\e90f";
}
.icon-paperplane:before {
  content: "\e910";
}
.icon-data:before {
  content: "\e911";
}
.icon-clip:before {
  content: "\e912";
}
.icon-shop:before {
  content: "\e913";
}
.icon-vynil:before {
  content: "\e914";
}
.icon-mail-envelope-closed:before {
  content: "\e915";
}
.icon-home1:before {
  content: "\e96d";
}
.icon-home2:before {
  content: "\e96e";
}
.icon-home3:before {
  content: "\e96f";
}
.icon-image:before {
  content: "\e970";
}
.icon-images:before {
  content: "\e971";
}
.icon-play:before {
  content: "\e972";
}
.icon-folder:before {
  content: "\e973";
}
.icon-folder-open:before {
  content: "\e974";
}
.icon-phone:before {
  content: "\e961";
}
.icon-pushpin:before {
  content: "\e975";
}
.icon-location1:before {
  content: "\e976";
}
.icon-location2:before {
  content: "\e977";
}
.icon-compass:before {
  content: "\e978";
}
.icon-undo:before {
  content: "\e979";
}
.icon-redo:before {
  content: "\e97a";
}
.icon-undo2:before {
  content: "\e97b";
}
.icon-redo2:before {
  content: "\e97c";
}
.icon-forward:before {
  content: "\e97d";
}
.icon-reply:before {
  content: "\e97e";
}
.icon-bubble:before {
  content: "\e97f";
}
.icon-bubbles:before {
  content: "\e980";
}
.icon-bubbles2:before {
  content: "\e981";
}
.icon-bubble2:before {
  content: "\e982";
}
.icon-bubbles3:before {
  content: "\e983";
}
.icon-user-check:before {
  content: "\e984";
}
.icon-user-tie:before {
  content: "\e985";
}
.icon-spinner10:before {
  content: "\e986";
}
.icon-spinner11:before {
  content: "\e987";
}
.icon-search:before {
  content: "\e988";
}
.icon-zoom-in:before {
  content: "\e989";
}
.icon-zoom-out:before {
  content: "\e98a";
}
.icon-enlarge:before {
  content: "\e98b";
}
.icon-shrink:before {
  content: "\e98c";
}
.icon-enlarge2:before {
  content: "\e98d";
}
.icon-shrink2:before {
  content: "\e98e";
}
.icon-fire:before {
  content: "\e9a9";
}
.icon-bin:before {
  content: "\e9ac";
}
.icon-bin2:before {
  content: "\e9ad";
}
.icon-earth:before {
  content: "\e9ca";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-flag:before {
  content: "\e9cc";
}
.icon-attachment:before {
  content: "\e9cd";
}
.icon-eye:before {
  content: "\e9ce";
}
.icon-eye-plus:before {
  content: "\e9cf";
}
.icon-eye-minus:before {
  content: "\e9d0";
}
.icon-eye-blocked:before {
  content: "\e9d1";
}
.icon-heart:before {
  content: "\e9da";
}
.icon-backward2:before {
  content: "\ea1f";
}
.icon-forward3:before {
  content: "\ea20";
}
.icon-first:before {
  content: "\ea21";
}
.icon-last:before {
  content: "\ea22";
}
.icon-previous2:before {
  content: "\ea23";
}
.icon-next2:before {
  content: "\ea24";
}
.icon-loop2:before {
  content: "\ea2e";
}
.icon-arrow-up-left:before {
  content: "\ea31";
}
.icon-arrow-up:before {
  content: "\ea32";
}
.icon-arrow-up-right:before {
  content: "\ea33";
}
.icon-arrow-right:before {
  content: "\ea34";
}
.icon-arrow-down-right:before {
  content: "\ea35";
}
.icon-arrow-down:before {
  content: "\ea36";
}
.icon-arrow-down-left:before {
  content: "\ea37";
}
.icon-arrow-left:before {
  content: "\ea38";
}
.icon-arrow-up-left2:before {
  content: "\ea39";
}
.icon-arrow-up2:before {
  content: "\ea3a";
}
.icon-arrow-up-right2:before {
  content: "\ea3b";
}
.icon-arrow-right2:before {
  content: "\ea3c";
}
.icon-arrow-down-right2:before {
  content: "\ea3d";
}
.icon-arrow-down2:before {
  content: "\ea3e";
}
.icon-arrow-down-left2:before {
  content: "\ea3f";
}
.icon-arrow-left2:before {
  content: "\ea40";
}
.icon-circle-up:before {
  content: "\ea41";
}
.icon-circle-right:before {
  content: "\ea42";
}
.icon-circle-down:before {
  content: "\ea43";
}
.icon-circle-left:before {
  content: "\ea44";
}
.icon-mail4:before {
  content: "\ea86";
}
.icon-amazon:before {
  content: "\ea87";
}
.icon-google:before {
  content: "\ea88";
}
.icon-google2:before {
  content: "\ea89";
}
.icon-google3:before {
  content: "\ea8a";
}
.icon-google-plus:before {
  content: "\ea8b";
}
.icon-google-plus2:before {
  content: "\ea8c";
}
.icon-google-plus3:before {
  content: "\ea8d";
}
.icon-hangouts:before {
  content: "\ea8e";
}
.icon-google-drive:before {
  content: "\ea8f";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-facebook2:before {
  content: "\ea91";
}
.icon-instagram:before {
  content: "\ea92";
}
.icon-whatsapp:before {
  content: "\ea93";
}
.icon-spotify:before {
  content: "\ea94";
}
.icon-telegram:before {
  content: "\ea95";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-vine:before {
  content: "\ea97";
}
.icon-vk:before {
  content: "\ea98";
}
.icon-renren:before {
  content: "\ea99";
}
.icon-sina-weibo:before {
  content: "\ea9a";
}
.icon-rss:before {
  content: "\ea9b";
}
.icon-rss2:before {
  content: "\ea9c";
}
.icon-youtube:before {
  content: "\ea9d";
}
.icon-youtube2:before {
  content: "\ea9e";
}
.icon-twitch:before {
  content: "\ea9f";
}
.icon-vimeo:before {
  content: "\eaa0";
}
.icon-vimeo2:before {
  content: "\eaa1";
}
.icon-lanyrd:before {
  content: "\eaa2";
}
.icon-flickr:before {
  content: "\eaa3";
}
.icon-flickr2:before {
  content: "\eaa4";
}
.icon-flickr3:before {
  content: "\eaa5";
}
.icon-flickr4:before {
  content: "\eaa6";
}
.icon-dribbble:before {
  content: "\eaa7";
}
.icon-steam:before {
  content: "\eaac";
}
.icon-steam2:before {
  content: "\eaad";
}
.icon-dropbox:before {
  content: "\eaae";
}
.icon-onedrive:before {
  content: "\eaaf";
}
.icon-github:before {
  content: "\eab0";
}
.icon-npm:before {
  content: "\eab1";
}
.icon-basecamp:before {
  content: "\eab2";
}
.icon-trello:before {
  content: "\eab3";
}
.icon-wordpress:before {
  content: "\eab4";
}
.icon-joomla:before {
  content: "\eab5";
}
.icon-ello:before {
  content: "\eab6";
}
.icon-blogger:before {
  content: "\eab7";
}
.icon-blogger2:before {
  content: "\eab8";
}
.icon-tumblr:before {
  content: "\eab9";
}
.icon-tumblr2:before {
  content: "\eaba";
}
.icon-yahoo:before {
  content: "\eabb";
}
.icon-yahoo2:before {
  content: "\eabc";
}
.icon-tux:before {
  content: "\eabd";
}
.icon-appleinc:before {
  content: "\eabe";
}
.icon-finder:before {
  content: "\eabf";
}
.icon-android:before {
  content: "\eac0";
}
.icon-windows:before {
  content: "\eac1";
}
.icon-windows8:before {
  content: "\eac2";
}
.icon-soundcloud:before {
  content: "\eac3";
}
.icon-soundcloud2:before {
  content: "\eac4";
}
.icon-skype:before {
  content: "\eac5";
}
.icon-reddit:before {
  content: "\eac6";
}
.icon-hackernews:before {
  content: "\eac7";
}
.icon-wikipedia:before {
  content: "\eac8";
}
.icon-linkedin:before {
  content: "\eac9";
}
.icon-linkedin2:before {
  content: "\eaca";
}
.icon-lastfm:before {
  content: "\eacb";
}
.icon-lastfm2:before {
  content: "\eacc";
}
.icon-delicious:before {
  content: "\eacd";
}
.icon-stumbleupon:before {
  content: "\eace";
}
.icon-stumbleupon2:before {
  content: "\eacf";
}
.icon-stackoverflow:before {
  content: "\ead0";
}
.icon-pinterest:before {
  content: "\ead1";
}
.icon-pinterest2:before {
  content: "\ead2";
}
.icon-xing:before {
  content: "\ead3";
}
.icon-xing2:before {
  content: "\ead4";
}
.icon-flattr:before {
  content: "\ead5";
}
.icon-foursquare:before {
  content: "\ead6";
}
.icon-yelp:before {
  content: "\ead7";
}
.icon-paypal:before {
  content: "\ead8";
}
.icon-chrome:before {
  content: "\ead9";
}
.icon-firefox:before {
  content: "\eada";
}
.icon-IE:before {
  content: "\eadb";
}
.icon-edge:before {
  content: "\eadc";
}
.icon-safari:before {
  content: "\eadd";
}
.icon-opera:before {
  content: "\eade";
}
.icon-file-pdf:before {
  content: "\eadf";
}
.icon-file-openoffice:before {
  content: "\eae0";
}
.icon-file-word:before {
  content: "\eae1";
}
.icon-file-excel:before {
  content: "\eae2";
}
.icon-libreoffice:before {
  content: "\eae3";
}
.icon-html-five:before {
  content: "\eae4";
}
.icon-html-five2:before {
  content: "\eae5";
}
.icon-css3:before {
  content: "\eae6";
}
.icon-git:before {
  content: "\eae7";
}
.icon-codepen:before {
  content: "\eae8";
}
.icon-svg:before {
  content: "\eae9";
}
.icon-IcoMoon:before {
  content: "\eaea";
}
